language: node_js
node_js:
  - 12

os:
  - linux
  - osx

cache:
  yarn: true
  directories:
    - node_modules

# Get latest yarn
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"

script:
  - yarn validate
